@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

h2 {
  font-size: 1.8rem;
  font-weight: 800;
  padding-bottom: 20px;
}

.code {
  background: rgba(0, 0, 0, 0.2);
  font-family: 'Fira Code', monospace;
  padding: 0 2px;
  font-size: 1rem;
}